table {
    display: block;
    overflow-x: auto;
}

.p-strip--suru .cupt{
    background-image:linear-gradient(to bottom right, rgba(205, 205, 205, 0.14) 0%, rgba(205, 205, 205, 0.14) 49.8%, transparent 50%, transparent 100%),linear-gradient(to bottom left, rgba(205, 205, 205, 0.14) 0%, rgba(205, 205, 205, 0.14) 49.8%, transparent 50%, transparent 100%),linear-gradient(to top right, #fff 0%, #fff 49%, transparent 50%, transparent 100%),linear-gradient(to top right, #fff 0%, #fff 100%),linear-gradient(111deg, #b5185f 10%, #700c69 37%, #270073 100%);
}

@supports(background-blend-mode: multiply){
	.cupt {
    	background-image:linear-gradient(to bottom right, rgba(205, 205, 205, 0.14) 0%, rgba(205, 205, 205, 0.14) 49.8%, transparent 50%, transparent 100%),linear-gradient(to bottom left, rgba(205, 205, 205, 0.14) 0%, rgba(205, 205, 205, 0.14) 49.8%, transparent 50%, transparent 100%),linear-gradient(to top right, #fff 0%, #fff 49%, transparent 50%, transparent 100%),linear-gradient(to top right, #fff 0%, #fff 100%),linear-gradient(111deg, #b5185f 10%, #700c69 37%, #270073 100%);
	}
}

.p-strip--suru-topped .cupt-topped{
    background-image:linear-gradient(to bottom left, rgba(229, 229, 229, 0.14) 0%, rgba(229, 229, 229, 0.14) 49%, transparent 50%, transparent 100%),linear-gradient(to bottom left, rgba(233, 84, 32, 0.14) 0%, rgba(233, 84, 32, 0.14) 49%, transparent 50%, transparent 100%),linear-gradient(to bottom right, transparent 0%, transparent 49%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%),linear-gradient(90deg, #b5185f 4%, #700c69 50%, #270073 88%);
}

@supports(background-blend-mode: multiply){
    .cupt-topped{
        background-image:linear-gradient(to bottom left, rgba(229, 229, 229, 0.5) 0%, rgba(229, 229, 229, 0.5) 49%, transparent 50%, transparent 100%),linear-gradient(to bottom left, rgba(233, 84, 32, 0.16) 0%, rgba(233, 84, 32, 0.16) 49%, transparent 50%, transparent 100%),linear-gradient(to bottom right, transparent 0%, transparent 49%, #fff 50%, #fff 100%),linear-gradient(90deg, #ee784e 4%, #b5185f 50%, #270073 88%)
    }
}