<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="{{ .Site.LanguagePrefix | relURL }}">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="{{ "/images/logo.simplificado.svg" | relURL }}" alt="">
          </div>
          <span class="p-navigation__logo-title">{{.Site.Title}}</span>
        </a>
      </div>
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <button class="js-menu-button p-navigation__link">{{ i18n "menu" }}</button>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav" aria-label="Example main">
      <ul class="p-navigation__items">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="p-navigation__item--dropdown-toggle" id="link-{{ .Identifier }}">
            <a class="p-navigation__link" aria-controls="{{ .Identifier }}-menu">
              {{ .Name }}
            </a>
            <ul class="p-navigation__dropdown--right" id="{{ .Identifier }}-menu" aria-hidden="true">
              {{ range .Children }}
              <li>
                <a href="{{ .URL | relLangURL }}" class="p-navigation__dropdown-item">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li class="p-navigation__item">
            <a class="p-navigation__link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ partial "allLanguages.html" . }}
    </nav>
  </div>
</header>