<script type="text/javascript" src='{{ "/js/comunidade_ubuntu_pt.js" | relURL }}'></script>
<script type="text/javascript" src='{{ "/js/shortcodes/timedisplay.js" | relURL }}'></script>
<script type="text/javascript" src='{{ "/js/shortcodes/accordion.js" | relURL }}'></script>