{{ define "main" }}
<main>
	<section class="p-strip--suru cupt">
		<div class="row">

			<h2>{{ i18n "page_not_found" }}</h2>
		</div>
	</section>
	<section class="p-strip">
		<div class="row">
			{{ range .Pages }}
			<div class="col-4">
				<h3>
					<a href="{{ .RelPermalink }}"> {{.Title}} </a>
				</h3>
			</div>
			{{ end }}
		</div>
	</section>
</main>
{{ end }}
