<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
  <head>
    <title>{{ .Permalink }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <noscript>
        <meta http-equiv="refresh" content="0; url={{ .Permalink }}"/>
    </noscript>
     <script>
     (function () {
        // Only do i18n at root, otherwise, redirect immediately
        if (window.location.pathname !== '/') {
          window.location.replace('{{ .Permalink }}')
          return
        }

        var getFirstBrowserLanguage = function () {
          var nav = window.navigator,
          browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'],
          i,
          language

          if (Array.isArray(nav.languages)) {
            for (i = 0; i < nav.languages.length; i++) {
              language = nav.languages[i]
              if (language && language.length) {
                return language
              }
            }
          }

          // support for other well known properties in browsers
          for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
            language = nav[browserLanguagePropertyKeys[i]]
            if (language && language.length) {
              return language
            }
          }
          return '{{ site.Language.LanguageCode }}'
        }

        var preferLang = getFirstBrowserLanguage();

        var existentesArray = '{{ site.Languages }}'.replace('[', '').replace(']', '').split(' ');

        for (i = 0; i < existentesArray.length; i++) {
			if(existentesArray[i] == preferLang){
				 window.location.replace(preferLang + "/");
				 return;
			}
        }

        preferLang = preferLang.substring(0, 2);
        for (j = 0; j < existentesArray.length; j++) {
			if(existentesArray[j] == preferLang){
				 window.location.replace(preferLang + "/");
				 return;
			}
        }

        window.location.replace('{{ site.Language.LanguageCode }}/');

      })()
    </script>
</head>
<body>
	<h1>{{ i18n "redirect" }}</h1>
	<p><a href="{{ .Permalink }}">{{ i18n "redirect_manual" }}</a>.</p>
</body>
</html>